# IBM Exercise

In [1]:
# The code was removed by Watson Studio for sharing.

,Segment,Commodity,Customer,SQL,Other,Customer Rank Value,SQL Rank Value,Other Rank Value,Total Value,Total Entries,% Value,Relative Scoring Value (out of 10)
0,Services,Crude Oil,3,4,42,5,1,0,19,49,39%,3.9
1,Services,Natural Gas,3,4,75,5,1,0,19,82,23%,2.3
2,Services,LNG,0,2,13,5,1,0,2,15,13%,1.3
3,Services,NGL,0,3,15,5,1,0,3,18,17%,1.7
4,Services,Refined Products,2,2,19,5,1,0,12,23,52%,5.2